[submodule "backend"]
    path = backend
    url = https://github.com/FiestaTheNewbieDev/share-ur-save-backend.git
[submodule "frontend"]
    path = frontend
url = https://github.com/FiestaTheNewbieDev/share-ur-save-frontend.git
[submodule "common"]
    path = common
url = https://github.com/FiestaTheNewbieDev/share-ur-save-common.git